<form [formGroup]='passwordResetForm' (ngSubmit)="onSubmit()">
	<mat-card class="resetPassword-component">
		<mat-card-header class="header">
			<mat-card-title>
				{{locales.header}}
			</mat-card-title>
			<mat-card-subtitle>
				{{locales.subHeader}}
			</mat-card-subtitle>

			<mat-card-content fxLayoutAlign='center'>
				<mat-form-field fxFlex='70%' appearance="outline" class="field">
					<mat-label>{{locales.emailTitle}}</mat-label>
					<input type="text" id="email" formControlName='email' matInput
						placeholder='{{locales.emailPlaceHolder}}'>
				</mat-form-field>
			</mat-card-content>
			<mat-card-actions fxLayout='row' fxLayoutAlign='center'>
				<button routerLink="/login" type="button" mat-raised-button mat-button>{{ locales.backButton }}</button>
				<button [disabled]='!passwordResetForm.valid' type="submit" color="primary" mat-raised-button
					mat-button>
					{{ locales.submitButton }}
				</button>
			</mat-card-actions>
		</mat-card-header>
	</mat-card>
</form>
