<div class="note-container" fxLayout="row">
	<div fxFlex="20">
		<app-note-list-item-render
			[inputValue]="noteListData"
			[isNoteList]="true"
			(selectItem)="setSelectedNoteList($event)"
		></app-note-list-item-render>
	</div>
	<div fxFlex="20">
		<app-note-list-item-render
			*ngIf="selectedList"
			[inputValue]="selectedList"
			[isNoteList]="false"
			(selectItem)="setSelectedNoteItem($event)"
		></app-note-list-item-render>
	</div>
	<div fxFlex="60">
		<textarea fxFlex="100" type="text" class="note-input-field" *ngIf="selectedNoteItem">{{selectedNoteItem.content}}></textarea>
	</div>
</div>
