.note-container {
	height: calc(100% - 64px);
	overflow: hidden;
	background-color: rgb(221, 221, 197);

	& > div:not(:first-child) {
		border-left: 2px solid goldenrod;
	}

	.note-input-field{
		resize: none;
	}
}
