.note-container {
	height: 100%;
	overflow: hidden;
	background-color: rgb(221, 221, 197);

	& > div:not(:first-child) {
		border-left: 2px solid goldenrod;
	}

	.note-input-field{
		width: 100%;
		height: 100%;
	}
}
